/* Structure */
body{
  background-color: #fff;
}
#left{
  float:left;
  width:40%;
  padding:10px;
  height:auto;
}
#right{
  float:right;
  width:55%;
  padding:10px;
  height:auto;
}
header{

height:100px;
    left:0px;
    top:0px;
    padding:25px;
    background-color: #fff;
}
#logo{
  float:left;
}
#nav{
  margin-top:2%;
  float:right;
}
footer{
  float:left;
  width:90%;
  padding: 20px;
}

#co2_bar{
  float:left;
  width:45%;
  height:280px;
  text-align: center;
}
#Energy{
  float:right;
  width:45%;
  height:280px;
  text-align: center;
}
#Materials{
  float:left;
  width:45%;
  height:350px;
  text-align: center;
}
#Circular{
  float:right;
  width:45%;
  height:350px;
  text-align: center;
}
#EkoT{
  text-align: center;
}
.et{
  float:left;
  padding:15px;
}
#et_energi{
  opacity: 0.05;
}
.byggval_left{
  float: left;
  width: 45%;
  height: 300px;

}
.byggval_right{
  float: right;
  width: 45%;
  height: 300px;

}

.column_left{
  height:auto;
  background-color: #fefefe;
  padding:25px;
  margin-bottom:25px;
}
fieldset {
  border: none;
}
.ui-selectmenu {
  padding: 0.5em 0 0.5em 3em;
}

/* Type */
h1,h2,h3 {
    color: black;
    font-family: 'Alata', sans-serif;

}

h1 {

}
p,ui-selectmenu-text {
  color: black;
  font-family: 'Alata', sans-serif;
  font-size: 0.9em;

}
nr{
  font-size: 2.4em;
}
.node {
  fill: #ddd;
  stroke: #fff;
}

.label {
  font: 10px sans-serif;
  text-anchor: middle;
}
