/* Structure */
body{
  padding:25px;
  background-color: #f8f8f8;
}
#left{
  float:left;
  width:40%;
  height:auto;
}
#right{
  float:right;
  width:55%;
  background-color: #fefefe;
  height:auto;
}
.column_left{
  height:auto;
  background-color: #fefefe;
  padding:25px;
  margin-bottom:25px;
}
fieldset {
  border: none;
}

/* Type */
h1,h2,h3 {
    color: black;
    font-family: 'Alata', sans-serif;

}

h1 {

}
p {
  color: black;
  font-family: 'Alata', sans-serif;

}
nr{
  font-size: 2.4em;
}
.node {
  fill: #ddd;
  stroke: #fff;
}

.label {
  font: 10px sans-serif;
  text-anchor: middle;
}
