/* Structure */
body{
  padding:20px;
  background-color: #eee;
}
#general{
  float:left;
  width:96%;
  height:auto;
  background-color: #fff;
  padding:10px;
  margin-bottom:5px;
}
#general_klimat_data, #general_klimat,#general_energi_data,#general_energi,#general_sdg{
  float:left;
  height:auto;
  background-color: #fff;
  padding:15px;
  margin-bottom:10px;
  margin-right: 10px;
}


#general_klimat_data{
  width:8%;
}
#general_klimat{
  width:35%;
}
#general_energi_data{
  width:8%;
}
#general_energi{
  width:20%;
}
#general_sdg{
  width:12%;
}
.SDG {
  float:left;
}

#transport_energy{
  float:left;
  width:20%;
  height:auto;
  background-color: #fff;
    padding:15px;
    margin-bottom:25px;
    margin-right: 10px;
}
#transport_behavior{
  float:left;
  width:20%;
  height:auto;
  background-color: #fff;
  padding:15px;
  margin-bottom:25px;
  margin-right: 10px;
}
#transport_heavy{
  float:left;
  width:20%;
  height:auto;
  background-color: #fff;
  padding:15px;
  margin-bottom:25px;
  margin-right: 10px;
}

#electricity {
  float:left;
  width:20%;
  height:auto;
  background-color: #fff;
  padding:25px;
  margin-bottom:25px;
  margin-right: 10px;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
#title{
  float:left;
}
logo{
  float:right;
}

/* Type */
h1,h2,h3,h4 {
    color: black;
    font-family: 'Alata', sans-serif;
}

h3 {
 font-size: 1.1em;
}
h4 {
  font-size: 0.9em;
}
p {
  color: black;
  font-family: 'Alata', sans-serif;
  font-size: 0.8em;
}
year{
  color: #666;
}
nr{
  font-size: 2.4em;
}
.node {
}

.label {
  font: 10px sans-serif;
  text-anchor: middle;
}

.icicle-viz text {
    font-family: 'Alata', sans-serif;
    font-size: 16px;
    padding-left: 20px;
    text-transform: uppercase;
    color: #fff;
}
