/* Structure */
body{
  padding:20px;
  background-color: #eee;
}
#general{
  float:left;
  width:97.5%;
  height:420px;
  background-color: #fff;
  padding:10px;
  margin-bottom:10px;
}
#general_klimat_data, #general_klimat,#general_energi_data,#general_energi,#general_sdg{
  float:left;
  height:auto;
  background-color: #fff;
  padding:10px;
  margin-bottom:10px;
  margin-right: 10px;
}

#general_klimat_data{width:9%;}
#general_klimat{ width:25%;}

#general_energi_data{
  width:8%;
  height:42%;}
#general_energi{
  width:44%;
  height: 42%;
  vertical-align: middle;
}
#general_sdg{
  width:55%;
  height: 40%;
}
.SDG {
  display: inline-block;
  height:60%;
}

.control_widget{
  float:left;
  width:21%;
  height:auto;
  background-color: #fff;
  padding:1.5%;
  margin-bottom:2%;
  margin-right: 1%;
}

.dot {
  margin-top:10%;
  height: 80%;
  display: inline-block;
   opacity: 0.9;
   vertical-align: middle;
}
.energylabel{
  text-transform: uppercase;
  text-align: center;
  font-family: 'Alata', sans-serif;
  font-size:0.8em;
}

#title{
  float:left;
}
logo{
  float:right;
}

/* Type */
h1,h2,h3,h4 {
    color: black;
    font-family: 'Alata', sans-serif;
}

h3 {
 font-size: 1em;
}
h4 {
  font-size: 0.8em;
}
p {
  color: black;
  font-family: 'Alata', sans-serif;
  font-size: 0.8em;
}
year{
  color: #666;
}
nr{
  font-size: 2.4em;
}
.node {
}

.label {
  font: 10px sans-serif;
  text-anchor: middle;
}

.icicle-viz text {
    font-family: 'Alata', sans-serif;
    font-size: 16px;
    padding-left: 20px;
    text-transform: uppercase;
    color: #fff;
}
