/* Structure */
body{
  background-color: #fff;
}
header{
    height:80px;
    left:0px;
    top:0px;
    padding-left:25px;
    background-color: #fff;
}
#logo{
  float:left;
}
#nav{
  margin-top:2%;
  float:right;
}

#left{
  float:left;
  width:40%;
  padding:10px;
  height:auto;
}
#right{
  float:right;
  width:55%;
  padding:10px;
  height:auto;
}

footer{
  float:left;
  width:90%;
  padding: 20px;
}

#co2_general{
  float:left;
  width:45%;
  height:auto;
  text-align: center;
}
#co2_info{
  position: relative;
  width:90%;
  text-align: center;
}
#co2_bar{
  position: relative;
  width:90%;
  text-align: center;
}

#energy_general{
  float:right;
  width:45%;
  height: auto;
  text-align: center;
}
#energy_info{
  position: relative;
  width:90%;

  text-align: center;
}
#energy_bar{
  position: relative;
  width:90%;

  text-align: center;
}

#Materials{
  position: relative;
  width:90%;

  text-align: center;
}
#Circular{
  position: relative;
  width:90%%;

  text-align: center;
}
#EST{
  float:left;
  text-align: center;
  width:100%;
  height:150px;
}
#GYF{
  float:left;
  text-align: center;
  width:20%;
  height:150px;
}
#EkoT{
  float:right;
  text-align: center;
  width:80%;
  height:150px;
}
.et{
  float:left;
  height:75px;
  padding:5px;
}
#et_energy{
  opacity: 0.1;
}
#et_cultural{
  opacity: 0.1;
}
#et_support{
  opacity: 0.1;
}
#et_regulate{
  opacity: 0.1;
}

#tabs{
  float: left;
  height: 600px;
  width: 100%;
}

.byggval_left{
  float: left;
  width: 45%;
}
.byggval_right{
  float: right;
  width: 45%;
}

.column_left{
  height:auto;
  background-color: #fefefe;
  padding:25px;
  margin-bottom:25px;
}
fieldset {
  border: none;
}
.ui-selectmenu {
  padding: 0.5em 0 0.5em 3em;
}

/* Type */
h1,h2,h3 {
    color: black;
    font-family: 'Alata', sans-serif;

}

h1 {

}
p,ui-selectmenu-text {
  color: black;
  font-family: 'Alata', sans-serif;
  font-size: 0.9em;

}
nr{
  font-size: 2.4em;
}
.node {
  fill: #ddd;
  stroke: #fff;
}

.label {
  font: 10px sans-serif;
  text-anchor: middle;
}

/* JQuery UI overwrites*/
.ui-widget .ui-widget {
    font-size: 0.8em;
}
.ui-selectmenu-button.ui-button {
  width: 12em;
}
